$text-black: #3e3e3e;
$text-black-thin: rgba(62, 62, 62, 0.75);
$text-white: #fff;
$bg-inner-white: #fff;
$bg-gray: #f7f7f7;
$bg-black-thin: rgba(0, 0, 0, 0.07);
$blue: #1bb4d4;
$blue-thin-1: rgba(27, 180, 212, 0.25);
$blue-thin-2: rgba(27, 180, 212, 0.08);
$yellow: #fcee21;
$bg-emphasis: #FEFAE7;
$border-emphasis: #F9EFBE;
$text-emphasis: #8B7E41;
$bg-check: #EEFEE7;
$border-check: #D2F9BE;
$text-check: #5A8B41;
$bg-attention: #FEE7E7;
$border-attention: #F9BEBE;
$text-attention: #8B4141;
$bg-note: #FEF6E7;
$border-note: #F9E5BE;
$text-note: #8B7241;
$bg-hint: #E7F6FE;
$border-hint: #BEE5F9;
$text-hint: #41728B;
$text-code: #c72c4c;
$border-gray: rgba(123, 123, 123, 0.3);
$box-shadow-contents: 0 0 15px rgba(102, 102, 102, 0.2);
$box-shadow-card: 0 0 4px rgba(0, 0, 0, 0.15);
$box-shadow-card-hover: 0 0 10px rgba(0, 0, 0, 0.1);
$box-shadow-circle: 0 0 10px rgba(0, 0, 0, 0.1);
$box-shadow-mark: 0 0 8px rgba(27, 181, 212, 0.8);
