@use "../global" as *;

.article {
  &__header {
  }

  &__thumbnail-wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
    margin-bottom: 24px;
  }

  &__category-tag {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $yellow;
    padding: 10px 16px;
    font-size: 12px;
    font-weight: 700;

    @media screen and (min-width: 768px) {
      padding: 16px 24px;
      font-size: 14px;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      font-size: 30px;
      margin-bottom: 24px;
    }
  }

  &__date-wrapper {
    display: flex;
    gap: 16px;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
      margin-bottom: 64px;
    }
  }

  &__post-date,
  &__modified-date {
    font-size: 12px;
    color: $text-black-thin;
    display: flex;
    align-items: center;
    gap: 4px;
    letter-spacing: 0;

    &::before {
      content: "";
      width: 8px;
      height: 8px;
    }

    @media screen and (min-width: 768px) {
      font-size: 14px;
      gap: 6px;

      &::before {
        width: 10px;
        height: 10px;
      }
    }
  }

  &__post-date {
    &::before {
      background: url(images/clock.svg) center center / cover;
    }
  }

  &__modified-date {
    &::before {
      background: url(images/modified.svg) center center / cover;
    }
  }

  &__main {
  }

  &__footer {
  }
}
