@use "../global" as *;

.article {
  &__header {
  }

  &__thumbnail-wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
    margin-bottom: 24px;
  }

  &__category-tag {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $yellow;
    padding: 10px 16px;
    font-size: 12px;
    font-weight: 700;

    @media screen and (min-width: 768px) {
      padding: 16px 24px;
      font-size: 14px;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      font-size: 30px;
      margin-bottom: 24px;
    }
  }

  &__date-wrapper {
    display: flex;
    gap: 16px;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
      margin-bottom: 64px;
    }
  }

  &__post-date,
  &__modified-date {
    font-size: 12px;
    color: $text-black-thin;
    display: flex;
    align-items: center;
    gap: 4px;
    letter-spacing: 0;

    &::before {
      content: "";
      width: 8px;
      height: 8px;
    }

    @media screen and (min-width: 768px) {
      font-size: 14px;
      gap: 6px;

      &::before {
        width: 10px;
        height: 10px;
      }
    }
  }

  &__post-date {
    &::before {
      background: url(images/clock.svg) center center / cover;
    }
  }

  &__modified-date {
    &::before {
      background: url(images/modified.svg) center center / cover;
    }
  }

  &__main {
    h2 {
      margin-top: 40px;
      margin-bottom: 32px;
      padding: 20px 16px;
      border-radius: 3px;
      background-color: $blue;
      font-size: 18px;
      font-weight: 700;
      color: $text-white;

      @media screen and (min-width: 768px) {
        padding: 20px;
        font-size: 20px;
      }
    }

    h3 {
      margin-bottom: 24px;
      padding: 12px 10px;
      border-top: 4px solid $blue;
      border-bottom: 4px solid $blue;
      font-size: 16px;
      font-weight: 700;

      @media screen and (min-width: 768px) {
        padding: 12px;
        font-size: 18px;
      }
    }

    h4 {
      margin-bottom: 24px;
      padding: 10px 8px;
      border-left: 3px solid $blue;
      font-size: 14px;
      font-weight: 700;

      @media screen and (min-width: 768px) {
        padding: 10px;
        font-size: 16px;
      }
    }

    p {
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 1.8;

      a {
        display: inline-flex;
        align-items: center;
        color: $blue;
        font-weight: 700;
        line-height: 1;
        transition: opacity 0.3s ease-out;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          bottom: -1px;
          left: 0;
          width: calc(100% - 16px);
          height: 1px;
          background-color: $blue;
        }

        &::after {
          content: "";
          width: 14px;
          height: 14px;
          background: url(images/link.svg) center center / cover;
        }

        @media (any-hover: hover) {
          &:hover {
            opacity: 0.7;
          }
        }

        @media screen and (min-width: 768px) {
          &::before {
            width: calc(100% - 18px);
          }

          &::after {
            width: 16px;
            height: 16px;
          }
        }
      }

      &.small {
        font-size: 12px;
      }

      @media screen and (min-width: 768px) {
        margin-bottom: 24px;
        font-size: 16px;

        &.small {
          font-size: 14px;
        }
      }
    }

    strong {
      font-weight: 700;
    }

    pre {
      margin: 0;
    }

    code {
      padding: 4px 6px;
      background-color: $bg-gray;
      font-family: $source-code-pro;
      letter-spacing: 0;
    }

    mark {
      &.yellow {
        background-image: linear-gradient(to bottom, transparent 50%, $yellow 50%);
      }
    }

    .article-link {
      padding: 10px;
      box-shadow: $box-shadow-card;
      display: flex;
      gap: 8px;
      transition:
        box-shadow 0.3s ease-out,
        transform 0.3s ease-out;

      @media screen and (min-width: 768px) {
        padding: 16px;
        gap: 12px;
      }

      @media (any-hover: hover) {
        &:hover {
          box-shadow: $box-shadow-card-hover;
          transform: translateY(-2px);
        }
      }

      .thumbnail-wrapper {
        flex-shrink: 0;
        width: 112px;
        aspect-ratio: 16 / 9;

        @media screen and (min-width: 768px) {
          width: 160px;
        }
      }

      .information {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .title {
        font-size: 12px;
        line-height: 1.8;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;

        @media screen and (min-width: 768px) {
          font-size: 16px;
        }
      }

      .date-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;

        @media screen and (min-width: 768px) {
          gap: 16px;
        }
      }

      .post-date,
      .modified-date {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 10px;
        color: $text-black-thin;
        letter-spacing: 0;

        &::before {
          content: "";
          width: 8px;
          height: 8px;
        }

        @media screen and (min-width: 768px) {
          font-size: 14px;

          &::before {
            width: 10px;
            height: 10px;
          }
        }
      }

      .post-date::before {
        background: url(images/clock.svg) center center / cover;
      }

      .modified-date::before {
        background: url(images/modified.svg) center center / cover;
      }
    }

    .emphasis-area {
      padding: 14px 10px;
      margin-bottom: 16px;
      border-radius: 4px;
      border-width: 2px;
      border-style: solid;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 12px;

      &.mark {
        padding: 14px 10px 14px 40px;

        &::before {
          content: "";
          position: absolute;
          top: 14px;
          left: 10px;
          width: 22px;
          height: 22px;
        }

        &.emphasis::before {
          background: url(images/emphasis-mark.svg) center center / cover;
        }

        &.check::before {
          background: url(images/check-mark.svg) center center / cover;
        }

        &.attention::before {
          height: 19px;
          background: url(images/attention-mark.svg) center center / cover;
        }

        &.note::before {
          background: url(images/note-mark.svg) center center / cover;
        }

        &.hint::before {
          background: url(images/hint-mark.svg) center center / cover;
        }
      }

      &.emphasis {
        background-color: $bg-emphasis;
        border-color: $border-emphasis;
        color: $text-emphasis;
      }

      &.check {
        background-color: $bg-check;
        border-color: $border-check;
        color: $text-check;
      }

      &.attention {
        background-color: $bg-attention;
        border-color: $border-attention;
        color: $text-attention;
      }

      &.note {
        background-color: $bg-note;
        border-color: $border-note;
        color: $text-note;
      }

      &.hint {
        background-color: $bg-hint;
        border-color: $border-hint;
        color: $text-hint;
      }

      @media screen and (min-width: 768px) {
        padding: 16px;
        margin-bottom: 24px;
        gap: 16px;

        &.mark {
          padding: 16px 16px 16px 48px;

          &::before {
            top: 16px;
            left: 12px;
            width: 25px;
            height: 25px;
          }

          &.attention::before {
            height: 22px;
          }
        }
      }

      .text {
        font-size: 14px;
        line-height: 1.8;

        @media screen and (min-width: 768px) {
          font-size: 16px;
        }
      }

      .list {
        display: flex;
        flex-direction: column;

        li {
          font-size: 14px;
          line-height: 1.8;
        }

        @media screen and (min-width: 768px) {
          li {
            font-size: 16px;
          }
        }
      }
    }

    .list-area {
      margin-bottom: 24px;
      display: flex;
      flex-direction: column;
      gap: 14px;
      counter-reset: number 0;

      @media screen and (min-width: 768px) {
        gap: 16px;
      }

      li {
        padding-left: 18px;
        font-size: 14px;
        line-height: 1.8;
        position: relative;
        counter-increment: number 1;

        &::before {
          content: "";
          position: absolute;
        }

        &.circle-mark::before {
          top: 7px;
          left: 0;
          width: 8px;
          height: 8px;
          background-color: $blue;
          border-radius: 100vmax;
        }

        &.check-mark::before {
          top: 7px;
          left: 0;
          width: 9px;
          height: 4.5px;
          border-left: 2px solid $blue;
          border-bottom: 2px solid $blue;
          transform: rotate(-45deg);
        }

        &.number-mark::before {
          top: -1px;
          left: 0;
          content: counter(number) ".";
          color: $blue;
          font-weight: 700;
        }

        @media screen and (min-width: 768px) {
          padding-left: 22px;
          font-size: 16px;

          &.circle-mark::before {
            width: 10px;
            height: 10px;
          }

          &.check-mark::before {
            top: 7px;
            width: 11px;
            height: 5.5px;
            border-left: 2px solid $blue;
            border-bottom: 2px solid $blue;
          }
        }
      }
    }
  }

  &__footer {
  }

  &__category-wrapper {
    margin-bottom: 16px;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    a {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 6px 8px;
      background-color: $blue;
      color: $text-white;
      border-radius: 3px;
      border: 1px solid $blue;
      font-size: 13px;
      transition:
        color 0.3s ease-out,
        background-color 0.3s ease-out;

      &::before {
        content: "";
        width: 24px;
        height: 17px;
        background: url(images/folder-white.svg) center center / cover;
        transition: background-image 0.3s ease-out;
      }

      @media (any-hover: hover) {
        &:hover {
          color: $blue;
          background-color: $text-white;

          &::before {
            background: url(images/folder-blue.svg) center center / cover;
          }
        }
      }
    }
  }

  &__tag-wrapper {
    margin-bottom: 32px;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    a {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 6px 8px;
      color: $blue;
      border-radius: 3px;
      border: 1px solid $blue;
      font-size: 13px;
      transition:
        color 0.3s ease-out,
        background-color 0.3s ease-out;

      &::before {
        content: "";
        width: 17px;
        height: 17px;
        background: url(images/tag-blue.svg) center center / cover;
        transition: background-image 0.3s ease-out;
      }

      @media (any-hover: hover) {
        &:hover {
          color: $text-white;
          background-color: $blue;

          &::before {
            background: url(images/tag-white.svg) center center / cover;
          }
        }
      }
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
    }
  }

  &__post-link-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      margin-bottom: 40px;
    }
  }

  &__post-link {
    width: 100%;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: $text-white;
    box-shadow: $box-shadow-card;
    position: relative;
    transition:
      transform 0.3s ease-out,
      box-shadow 0.3s ease-out;

    @media (any-hover: hover) {
      &:hover {
        transform: translateY(-2px);
        box-shadow: $box-shadow-card-hover;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 14px;
      top: 50%;
      transform: translateY(-50%);
    }

    &.prev {
      &::before {
        left: 8px;
        background: url(images/triangle-left.svg) center center / cover;
      }
    }

    &.next {
      justify-content: flex-end;
      margin-left: auto;

      &::before {
        right: 8px;
        background: url(images/triangle-right.svg) center center / cover;
      }
    }

    @media screen and (min-width: 768px) {
      width: 50%;
    }
  }

  &__post-thumbnail-wrapper {
    flex-shrink: 0;
    width: 55px;
    height: 55px;
  }

  &__post-title {
    font-size: 12px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  &__recommend-text {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
      font-size: 20px;
    }
  }

  &__no-text {
    display: block;
    font-size: 18px;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
      font-size: 20px;
    }
  }

  &__recommend-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 40px;
  }

  &__recommend-list {
    width: calc(50% - 8px);

    @media screen and (min-width: 768px) {
      width: calc((100% - 48px) / 4);
    }
  }

  &__recommend-link {
    height: 100%;
    transition:
      transform 0.3s ease-out,
      opacity 0.3s ease-out;

    @media (any-hover: hover) {
      &:hover {
        transform: translateY(-2px);
        opacity: 0.7;
      }
    }
  }

  &__recommend-image-wrapper {
    aspect-ratio: 16 / 9;
    margin-bottom: 8px;
  }

  &__recommend-title {
    font-size: 12px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
