@use "../global" as *;

.header {
  width: 100%;
  height: 60px;
  padding: 0 0 0 20px;
  background-color: $bg-inner-white;
  box-shadow: $box-shadow-contents;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  @media screen and (min-width: 768px) {
    padding: 0 0 0 30px;
  }

  @media screen and (min-width: 1024px) {
    height: 90px;
    padding: 0 40px;
  }

  @media screen and (min-width: 1480px) {
    padding: 0 137.5px;
  }

  &__inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1024px) {
    }
  }

  &__title-link {
    padding: 10px 0;
    transition: opacity 0.3s ease-out;

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__title-image {
    width: 150px;

    @media screen and (min-width: 1024px) {
      width: 217px;
    }
  }

  &__right-box {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    @media screen and (min-width: 1024px) {
      gap: 40px;
    }
  }

  &__category-wrapper {
    display: none;

    @media screen and (min-width: 1024px) {
      height: 100%;
      display: grid;
      place-content: center;
      position: relative;

      &.js-clicked nav {
        clip-path: inset(0 0 0 0);
      }

      @media (any-hover: hover) {
        &:hover nav {
          clip-path: inset(0 0 0 0);
        }
      }
    }
  }

  &__category {
    @media screen and (min-width: 1024px) {
      padding: 10px 20px 10px 0;
      font-size: 14px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(calc(-50% - 1px));
        background: url(images/caret-down.svg) center center / cover;
        width: 11px;
        height: 6px;
      }
    }
  }

  &__nav {
    @media screen and (min-width: 1024px) {
      position: absolute;
      top: 100%;
      clip-path: inset(0 0 100% 0);
      transition: clip-path 0.2s ease-out;

      ul {
        background-color: $blue;
      }

      li:not(:last-of-type) {
        border-bottom: 1px dashed $text-white;
      }

      a {
        display: block;
        padding: 16px 80px 16px 24px;
        font-size: 16px;
        color: $text-white;
        position: relative;
        transition: opacity 0.3s ease-out;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          width: 5px;
          height: 10px;
          background: url(images/caret-right-white.svg) center center / cover;
          transition: transform 0.3s ease-out;
        }

        @media (any-hover: hover) {
          &:hover {
            opacity: 0.7;
          }

          &:hover::after {
            transform: translate3d(4px, -50%, 0);
          }
        }
      }
    }
  }

  &__searchform-wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100vw;
    height: 60px;
    background-color: $bg-gray;
    transition: clip-path 0.3s ease-out;
    clip-path: inset(0 0 100% 0);

    &.js-actived {
      clip-path: inset(0 0 0 0);
    }

    .searchform {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .searchform-text-box {
      width: calc(100% - 60px);
      height: 100%;
      padding: 0 0 0 20px;
      font-size: 14px;

      &::placeholder {
        color: $text-black-thin;
      }
    }

    .searchform-button {
      height: 100%;
      width: 60px;
      display: grid;
      place-content: center;
    }

    .searchform-button-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url(images/search-gray.svg) center center / cover;
    }

    @media screen and (min-width: 768px) {
      .searchform-text-box {
        width: calc(100% - 80px);
        padding: 0 0 0 30px;
        font-size: 16px;
      }

      .searchform-button {
        width: 80px;
      }
    }

    @media screen and (min-width: 1024px) {
      position: static;
      width: auto;
      height: auto;
      background-color: transparent;
      clip-path: none;

      &.js-actived {
        clip-path: none;
      }

      .searchform {
        width: 230px;
        height: 40px;
        border: 2px solid $border-gray;
        border-radius: 4px;
      }

      .searchform-text-box {
        width: calc(100% - 52px);
        padding: 0 0 0 16px;
        font-size: 14px;
      }

      .searchform-button {
        cursor: pointer;
        width: 52px;
      }
    }
  }

  &__contact-link {
    display: none;

    @media screen and (min-width: 1024px) {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px 30px;
      border-radius: 100vmax;
      border: 2px solid $blue;
      background-color: $blue;
      font-size: 14px;
      font-weight: 700;
      color: $text-white;
      transition:
        color 0.3s ease-out,
        background-color 0.3s ease-out;

      &::before {
        content: "";
        display: block;
        width: 22px;
        height: 16px;
        background: url(images/mail-white.svg) center center / cover;
        transition: background-image 0.3s ease-out;
      }

      @media (any-hover: hover) {
        &:hover {
          color: $blue;
          background-color: $text-white;

          &::before {
            background: url(images/mail-blue.svg) center center / cover;
          }
        }
      }
    }
  }

  &__search-button,
  &__hamburger-menu-button {
    width: 60px;
    height: 100%;
    display: grid;
    place-content: center;

    @media screen and (min-width: 768px) {
      width: 80px;
    }

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  &__search-button-icon {
    display: block;
    width: 20px;
    height: 20px;
    background: url(images/search-black.svg) center center / cover;

    &.js-actived {
      background: url(images/close-black.svg) center center / cover;
    }
  }

  &__hamburger-menu-button-icon {
    display: block;
    width: 20px;
    height: 14px;
    background: url(images/hamburger-menu.svg) center center / cover;
  }

  &__mask {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    transition:
      background-color 0.3s ease-out,
      backdrop-filter 0.3s ease-out;
    z-index: 1;

    &.js-actived {
      pointer-events: auto;
      background-color: $bg-black-thin;
      backdrop-filter: blur(5px);
    }
  }

  &__nav-sp-wrapper {
    position: absolute;
    top: 0;
    left: 100%;
    width: 250px;
    height: 100svh;
    background-color: $blue;
    transition: transform 0.3s ease-out;
    z-index: 3;

    &.js-actived {
      transform: translate3d(-100%, 0, 0);
    }

    @media screen and (min-width: 768px) {
      width: 400px;
    }

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  &__close-button {
    width: 52px;
    height: 60px;
    margin-left: auto;
    display: grid;
    place-content: center;

    @media screen and (min-width: 768px) {
      width: 72px;
    }
  }

  &__close-button-icon {
    display: block;
    width: 12px;
    height: 12px;
    background: url(images/close-white.svg) center center / cover;
  }

  &__nav-sp {
    border-top: 1px solid $text-white;

    li {
      border-bottom: 1px dashed $text-white;
    }

    a {
      display: block;
      padding: 17px 20px;
      font-size: 14px;
      font-weight: 700;
      color: $text-white;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translateY(-50%);
        width: 5px;
        height: 10px;
        background: url(images/caret-right-white.svg) center center / cover;
      }
    }

    @media screen and (min-width: 768px) {
      a {
        padding: 19px 30px;
        font-size: 16px;

        &::after {
          right: 34px;
        }
      }
    }
  }

  &__button-wrapper {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    z-index: 2;

    @media screen and (min-width: 1024px) {
      height: 100vh;
    }
  }

  &__contents-table-button {
    pointer-events: auto;
    position: absolute;
    bottom: 70px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: $text-white;
    box-shadow: $box-shadow-card;
    transform: translateY(140px);
    transition:
      background-color 0.3s ease-out,
      transform 0.3s ease-out;

    &.no-display {
      display: none;
    }

    &.js-actived {
      transform: translateY(0);
    }

    .contents-table-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 16px;
      background: url(images/contents-table.svg) center center / cover;
    }

    @media screen and (min-width: 768px) {
      bottom: 90px;
      right: 20px;
      width: 50px;
      height: 50px;

      .contents-table-icon {
        width: 25px;
        height: 20px;
      }
    }

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  &__top-back-button {
    pointer-events: auto;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100vmax;
    background-color: $text-white;
    box-shadow: $box-shadow-card;
    transform: translateY(140px);
    transition:
      background-color 0.3s ease-out,
      transform 0.3s ease-out;

    &.js-actived {
      transform: translateY(0);
    }

    .caret-top {
      position: absolute;
      top: 52%;
      left: 50%;
      width: 6px;
      height: 6px;
      border-top: 2px solid $blue;
      border-right: 2px solid $blue;
      transform: translate(-50%, -50%) rotate(-45deg);
      transition: border-color 0.3s ease-out;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $yellow;

        .caret-top {
          border-top: 2px solid $text-black;
          border-right: 2px solid $text-black;
        }
      }
    }

    @media screen and (min-width: 768px) {
      bottom: 20px;
      right: 20px;
      width: 50px;
      height: 50px;

      .caret-top {
        width: 7px;
        height: 7px;
      }
    }
  }
}
