@use "../global" as *;

.header {
  background-color: $bg-inner-white;
  height: 60px;

  @media screen and (min-width: 768px) {

  }

  @media screen and (min-width: 1024px) {
    height: 90px;
  }

  &__inner {

  }
}