@use "../global" as *;

.loop-contents {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  @media screen and (min-width: 1024px) {
    gap: 32px;
  }

  .article-link {
    width: 100%;
    height: 100%;
    box-shadow: $box-shadow-card;
    transition:
      box-shadow 0.3s ease-out,
      transform 0.3s ease-out,
      opacity 0.3s ease-out;

    @media (any-hover: hover) {
      &:hover {
        box-shadow: $box-shadow-card-hover;
        transform: translateY(-4px);
        opacity: 0.7;
      }
    }
  }

  .article-thumbnail-wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;

    img {
    }
  }

  .article-category {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $yellow;
    padding: 6px;
    font-size: 12px;

    @media screen and (min-width: 768px) {
      padding: 6px 8px;
      font-size: 13px;
    }
  }

  .article-text-wrapper {
    padding: 16px;
  }

  .article-title {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }

  .article-date-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;

    .post-date,
    .modified-date {
      font-size: 12px;
      color: $text-black-thin;
      line-height: 1;
      letter-spacing: 0;
      display: flex;
      align-items: center;
      gap: 4px;

      &::before {
        content: "";
        width: 9px;
        height: 9px;
      }

      @media screen and (min-width: 768px) {
        font-size: 14px;

        &::before {
          width: 10px;
          height: 10px;
        }
      }
    }

    .post-date {
      &::before {
        background: url(images/clock.svg) center center / cover;
      }
    }

    .modified-date {
      &::before {
        background: url(images/modified.svg) center center / cover;
      }
    }
  }
}

.pagination {
  margin: 40px 0;

  @media screen and (min-width: 768px) {
    margin: 64px 0;
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 5px;

    @media screen and (min-width: 768px) {
      gap: 10px;
    }
  }

  li {
  }

  a {
    width: 32px;
    height: 32px;
    border: 2px solid $blue;
    border-radius: 3px;
    display: grid;
    place-content: center;
    color: $blue;
    font-size: 12px;
    position: relative;
    transition:
      color 0.3s ease-out,
      background-color 0.3s ease-out;

    @media (any-hover: hover) {
      &:hover {
        color: $text-white;
        background-color: $blue;

        &.prev::before,
        &.next::before {
          border-color: $text-white;
        }
      }
    }

    @media screen and (min-width: 768px) {
      width: 50px;
      height: 50px;
      font-size: 14px;
    }

    &.prev::before,
    &.next::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 6px;
      height: 6px;
      transition: border-color 0.3s ease-out;

      @media screen and (min-width: 768px) {
        width: 7px;
        height: 7px;
      }
    }

    &.prev::before {
      border-left: 2px solid $blue;
      border-bottom: 2px solid $blue;
      transform: translate(calc(-50% + 1px), -50%) rotate(45deg);
    }

    &.next::before {
      border-right: 2px solid $blue;
      border-bottom: 2px solid $blue;
      transform: translate(calc(-50% - 2px), -50%) rotate(-45deg);
    }
  }

  span.page-numbers.current {
    width: 32px;
    height: 32px;
    border: 2px solid $border-gray;
    border-radius: 3px;
    display: grid;
    place-content: center;
    color: $text-black-thin;
    font-size: 12px;

    @media screen and (min-width: 768px) {
      width: 50px;
      height: 50px;
      font-size: 14px;
    }
  }

  span.page-numbers.dots {
    width: 20px;
    height: 32px;
    display: grid;
    place-content: center;
    color: $text-black-thin;
    font-size: 12px;

    @media screen and (min-width: 768px) {
      width: 30px;
      height: 50px;
      font-size: 14px;
    }
  }
}
