@use "../global" as *;

.main {
}

.wrapper {
  background-color: $bg-gray;
  padding-top: 60px;

  @media screen and (min-width: 1024px) {
    padding-top: 90px;
    padding-bottom: 40px;
  }
}

.breadcrumb {
  background-color: $text-white;

  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
    gap: 24px;

    @media screen and (min-width: 768px) {
      padding: 0 30px;
    }

    @media screen and (min-width: 1024px) {
      padding: 0 40px;
    }

    @media screen and (min-width: 1180px) {
      padding: 0;
      max-width: 1180px;
      margin-inline: auto;
    }
  }

  li {
    font-size: 11px;
    line-height: 1.8;
    position: relative;

    &:not(:last-of-type)::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 5px;
      height: 5px;
      border-bottom: 1px solid $text-black;
      border-right: 1px solid $text-black;
      transform: translate(calc(100% + 7px), -50%) rotate(-45deg);
    }

    @media screen and (min-width: 768px) {
      font-size: 13px;
    }
  }

  a {
    padding: 10px 0;
    color: $blue;
    transition: opacity 0.3s ease-out;

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }

    @media screen and (min-width: 768px) {
      padding: 14px 0;
    }
  }
}

.container {
  width: 100%;
  padding: 20px 20px 16px;
  background-color: $bg-inner-white;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    padding: 40px 30px 16px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 1180px;
    padding: 40px;
    margin: 40px auto 0;
    flex-direction: row;
    gap: 40px;
    box-shadow: $box-shadow-contents;
    overflow: initial;
  }
}

.contents {
  width: 100%;

  @media screen and (min-width: 1024px) {
    width: calc(100% - 324px - 40px);
  }
}
