@use "../global" as *;

.title-area {
  height: 40vh;
  background-color: $blue;
  position: relative;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1024px) {
    height: 400px;
  }

  .title-wrapper {
    height: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 768px) {
      padding-left: 30px;
    }

    @media screen and (min-width: 1024px) {
      padding-left: 40px;
    }

    @media screen and (min-width: 1180px) {
      padding-left: 0;
      max-width: 1180px;
      margin-inline: auto;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: 768px) {
      gap: 20px;
    }

    @media screen and (min-width: 1024px) {
      gap: 24px;
    }
  }

  .title-en {
    color: $text-white;
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;

    @media screen and (min-width: 768px) {
      font-size: 60px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 80px;
    }
  }

  .title-jp {
    color: $text-white;
    font-size: 14px;
    font-weight: 700;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 18px;
    }
  }

  .title-archive {
    color: $text-white;
    font-size: 24px;
    font-weight: 700;

    @media screen and (min-width: 768px) {
      font-size: 36px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 46px;
    }
  }

  .title-sub {
    color: $text-white;
    font-size: 18px;
    font-weight: 700;

    @media screen and (min-width: 768px) {
      font-size: 24px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 32px;
    }
  }
}

.page-wrapper {
  p {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 1.8;

    a {
      display: inline-flex;
      align-items: center;
      color: $blue;
      font-weight: 700;
      line-height: 1;
      transition: opacity 0.3s ease-out;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: calc(100% - 16px);
        height: 1px;
        background-color: $blue;
      }

      &::after {
        content: "";
        width: 14px;
        height: 14px;
        background: url(images/link.svg) center center / cover;
      }

      @media (any-hover: hover) {
        &:hover {
          opacity: 0.7;
        }
      }

      @media screen and (min-width: 768px) {
        &::before {
          width: calc(100% - 18px);
        }

        &::after {
          width: 16px;
          height: 16px;
        }
      }
    }

    &.small {
      font-size: 12px;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 24px;
      font-size: 16px;

      &.small {
        font-size: 14px;
      }
    }
  }
}
