@use "../global" as *;

.no-results {
  &__message {
    display: block;
    padding: 16px 0;
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 700;
    line-height: 2;
    text-align: center;

    @media screen and (min-width: 768px) {
      padding: 24px 0;
      margin-bottom: 40px;
      font-size: 20px;
    }

    @media screen and (min-width: 1024px) {
      padding: 32px 0;
      margin-bottom: 56px;
      font-size: 22px;
    }
  }

  &__sub-title {
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 700;

    @media screen and (min-width: 768px) {
      margin-bottom: 24px;
      font-size: 18px;
    }
  }

  &__recommend-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 40px;

    @media screen and (min-width: 1024px) {
      margin-bottom: 56px;
    }
  }

  &__recommend-list {
    width: 100%;

    @media screen and (min-width: 768px) {
      width: calc(50% - 12px);
    }
  }

  &__recommend-link {
    width: 100%;
    height: 100%;
    transition:
      transform 0.3s ease-out,
      opacity 0.3s ease-out;

    @media (any-hover: hover) {
      &:hover {
        transform: translateY(-2px);
        opacity: 0.7;
      }
    }
  }

  &__recommend-image-wrapper {
    aspect-ratio: 16 / 9;
    margin-bottom: 8px;
  }

  &__recommend-title {
    font-size: 12px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
  }

  &__tag-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
      gap: 16px;
    }
  }

  &__tag-list {
  }

  &__tag-link {
    display: block;
    padding: 1em;
    border-radius: 3px;
    border: 1px solid $border-gray;
    font-size: 14px;
    font-weight: 700;
    transition:
      background-color 0.3s ease-out,
      border-color 0.3s ease-out,
      color 0.3s ease-out;

    @media (any-hover: hover) {
      &:hover {
        background-color: $blue;
        border: 1px solid $blue;
        color: $text-white;
      }
    }

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }
}
