@use "../global" as *;

.sidebar {
  width: 100%;

  @media screen and (min-width: 1024px) {
    flex: 0 0 324px;
    display: flex;
    flex-direction: column;
  }

  &__inner {
  }

  &__heading {
    height: 50px;
    padding-left: 16px;
    border-radius: 2px;
    background-color: $blue;
    display: flex;
    align-items: center;
    color: $text-white;
    font-size: 14px;
    font-weight: 700;

    @media screen and (min-width: 768px) {
      height: 56px;
      padding-left: 16px;
      font-size: 16px;
    }

    @media screen and (min-width: 1024px) {
      height: 50px;
      padding-left: 16px;
      font-size: 14px;
    }
  }

  &__author-area {
    margin-bottom: 40px;
  }

  &__author-bg-wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    z-index: 2;
  }

  &__author-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(images/author-bg.jpg) center center / cover;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $blue-thin-1;
    }
  }

  &__author-image-wrapper {
    width: 100px;
    height: 100px;
    position: relative;
    transform: translateY(50%);
    background-color: $text-white;
    border-radius: 100vmax;
    box-shadow: $box-shadow-circle;
    display: grid;
    place-content: center;
    z-index: 1;

    @media screen and (min-width: 768px) {
      width: 130px;
      height: 130px;
    }

    @media screen and (min-width: 1024px) {
      width: 100px;
      height: 100px;
    }
  }

  &__author-image {
    width: 90px;
    height: 70px;

    @media screen and (min-width: 768px) {
      width: 115px;
      height: 90px;
    }

    @media screen and (min-width: 1024px) {
      width: 90px;
      height: 70px;
    }
  }

  &__author-information {
    padding: 72px 16px 16px;
    background-color: $blue-thin-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;

    @media screen and (min-width: 768px) {
      padding: 88px 16px 16px;
    }

    @media screen and (min-width: 1024px) {
      padding: 72px 16px 16px;
    }
  }

  &__author-name {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 700;

    @media screen and (min-width: 768px) {
      margin-bottom: 24px;
      font-size: 18px;
    }

    @media screen and (min-width: 1024px) {
      margin-bottom: 16px;
      font-size: 16px;
    }
  }

  &__author-text {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 14px;
    }
  }

  &__sns-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__sns-link {
    padding: 10px;
    transition:
      opacity 0.3s ease-out,
      transform 0.3s ease-out;

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.7;
        transform: translateY(-3px);
      }
    }
  }

  &__sns-link-image {
    width: 26px;
    height: 26px;
  }

  &__category-list {
    margin-bottom: 40px;

    li {
      border-bottom: 1px dashed $border-gray;
    }

    a {
      display: block;
      padding: 18px 24px 18px 16px;
      font-size: 14px;
      position: relative;
      transition: opacity 0.3s ease-out;

      &::before {
        content: attr(data-count);
        position: absolute;
        top: 50%;
        right: 40px;
        transform: translateY(-50%);
        width: 26px;
        height: 26px;
        padding-top: 1px;
        display: grid;
        place-content: center;
        border-radius: 100vmax;
        background-color: $blue-thin-2;
        color: $text-black;
        font-size: 10px;
        font-weight: 700;
        line-height: 1;

        @media screen and (min-width: 768px) {
          width: 30px;
          height: 30px;
          font-size: 11px;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        width: 5px;
        height: 10px;
        background: url(images/caret-right-blue.svg) center center / cover;
        transition: transform 0.3s ease-out;
      }

      @media (any-hover: hover) {
        &:hover {
          opacity: 0.7;

          &::after {
            transform: translate(4px, -50%);
          }
        }
      }

      @media screen and (min-width: 768px) {
        padding: 24px 24px 24px 16px;
        font-size: 16px;
      }

      @media screen and (min-width: 1024px) {
        padding: 20px 24px 20px 16px;
        font-size: 14px;
      }
    }
  }

  &__post-list {
    margin-bottom: 40px;
  }

  &__post {
    border-bottom: 1px dashed $border-gray;
  }

  &__post-link {
    padding: 16px 24px 16px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: opacity 0.3s ease-out;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      width: 5px;
      height: 10px;
      background: url(images/caret-right-blue.svg) center center / cover;
      transition: transform 0.3s ease-out;
    }

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.7;

        &::after {
          transform: translate(4px, -50%);
        }
      }
    }

    @media screen and (min-width: 768px) {
      padding: 24px 24px 24px 0;
      gap: 16px;
    }

    @media screen and (min-width: 1024px) {
      padding: 16px 24px 16px 0;
      gap: 10px;
    }
  }

  &__post-image-wrapper {
    flex-shrink: 0;
    width: 160px;
    aspect-ratio: 16 / 9;

    @media screen and (min-width: 768px) {
      width: 200px;
    }

    @media screen and (min-width: 1024px) {
      width: 162px;
    }
  }

  &__post-title {
    flex-grow: 1;
    font-size: 14px;
    line-height: 1.8;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      -webkit-line-clamp: 2;
    }

    @media screen and (min-width: 1024px) {
      font-size: 14px;
      -webkit-line-clamp: 3;
    }
  }

  &__contents-table-wrapper {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition:
      background-color 0.3s ease-out,
      backdrop-filter 0.3s ease-out;
    z-index: 101;

    &.no-display {
      display: none;
    }

    &.js-actived {
      pointer-events: auto;
      background-color: $bg-black-thin;
      backdrop-filter: blur(5px);
      opacity: 1;
    }

    @media screen and (min-width: 768px) {
      padding: 120px 30px;
    }

    @media screen and (min-width: 1024px) {
      flex-grow: 1;
      pointer-events: auto;
      position: static;
      width: 100%;
      height: auto;
      padding: 0;
      opacity: 1;
      z-index: 99;
    }
  }

  &__close-button-wrapper {
    flex-shrink: 0;
    width: 100%;
    height: 40px;

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  &__close-button {
    height: 100%;
    padding-left: 10px;
    margin-left: auto;
    display: grid;
    place-content: center;

    .close-button-icon {
      width: 12px;
      height: 12px;
      background: url(images/close-black.svg) center center / cover;
    }
  }

  &__table-outer {
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
    border-radius: 4px;
    background-color: $bg-gray;

    @media screen and (min-width: 768px) {
      width: 50%;
      margin-left: auto;
    }

    @media screen and (min-width: 1024px) {
      position: sticky;
      top: 130px;
      width: 100%;
      height: auto;
      max-height: 305px;
      margin: 0;
    }
  }

  &__table-title {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 16px;

    &::before {
      content: "";
      width: 25px;
      height: 20px;
      background: url(images/contents-table.svg) center center / cover;
    }
  }

  &__contents-table {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: $border-gray;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blue;
      border-radius: 20px;
    }


    li {
      padding-left: 18px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 15px;
        left: 3px;
        width: 2px;
        height: 100%;
        background-color: $blue-thin-1;
      }

      &:last-of-type::after {
        display: none;
      }

      &.type-H2,
      &.type-H3 {
        &::before {
          content: "";
          position: absolute;
          border-radius: 100vmax;
          background-color: $blue-thin-1;
          transition:
            background-color 0.3s ease-out,
            transform 0.3s ease-out,
            box-shadow 0.3s ease-out;
        }

        &.js-actived {
          a {
            color: $text-black;
          }

          &::before {
            background-color: $blue;
            box-shadow: $box-shadow-mark;
          }
        }
      }

      &.type-H2 {
        &::before {
          top: 3px;
          left: 0;
          width: 8px;
          height: 8px;
        }
      }

      &.type-H3 {
        &::before {
          top: 5px;
          left: 2px;
          width: 4px;
          height: 4px;
        }

        &.js-actived::before {
          transform: scale(2);
        }
      }
    }

    a {
      color: $text-black-thin;
      font-size: 14px;
      line-height: 1.3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      transition:
        opacity 0.3s ease-out,
        color 0.3s ease-out;

      @media (any-hover: hover) {
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
